Catalonia Framework V.1.x

Catalonia Framework, CatFw, requires PHP 5.3 or higher version.

Rewrite for Apache (mod_rewrite. Can add with sudo a2enmod rewrite)

Support for output_buffering in php.ini

Curl is optional, only if you need to use it.
